<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">

    <h2>Table name</h2>

    <!--Панель кнопок над таблицей-->
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-plus"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-repeat"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-pencil"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-x-square"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-search"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-printer"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-sliders"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-trash"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-tools"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-upc"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-cloud-upload-fill"></i> Колонка
      </button>
      <form class="d-flex">
        <input class="form-control rounded-0" type="search" id="search" placeholder="Search"
               aria-label="Search">
        <button class="btn btn-outline-secondary rounded-0" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-outline-secondary">
        <i class="bi bi-save2"></i>
      </button>
    </div>

    <div class="table-responsive">
      <!--Сама таблица-->
      <table class="table table-hover table-striped table-sm">
        <!--Заголовок таблицы-->
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-4">Header</th>
          <th class="col-4">Header</th>
          <th class="col-4">Header</th>
          <th class="col-4">Header2</th>
          <th class="col-1">Actions</th>
        </tr>

        </thead>
        <!--Тело таблицы-->
        <tbody>
        <tr>
          <td>1</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
          <td>
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-secondary btn-sm">
                <i class="bi bi-plus"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm">
                <i class="bi bi-arrow-repeat"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>3</td>
          <td>data</td>
          <td>rich</td>
          <td>dashboard</td>
          <td>tabular</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>4</td>
          <td>information</td>
          <td>placeholder</td>
          <td>illustrative</td>
          <td>data</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>5</td>
          <td>text</td>
          <td>random</td>
          <td>layout</td>
          <td>dashboard</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>6</td>
          <td>dashboard</td>
          <td>irrelevant</td>
          <td>text</td>
          <td>placeholder</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>7</td>
          <td>dashboard</td>
          <td>illustrative</td>
          <td>rich</td>
          <td>data</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>8</td>
          <td>placeholder</td>
          <td>tabular</td>
          <td>information</td>
          <td>irrelevant</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>9</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>10</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>11</td>
          <td>data</td>
          <td>rich</td>
          <td>dashboard</td>
          <td>tabular</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>12</td>
          <td>information</td>
          <td>placeholder</td>
          <td>illustrative</td>
          <td>data</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>13</td>
          <td>text</td>
          <td>placeholder</td>
          <td>layout</td>
          <td>dashboard</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>14</td>
          <td>dashboard</td>
          <td>irrelevant</td>
          <td>text</td>
          <td>visual</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>15</td>
          <td>dashboard</td>
          <td>illustrative</td>
          <td>rich</td>
          <td>data</td>
          <td>Actions</td>
        </tr>
        <tr>
          <td>16</td>
          <td>random</td>
          <td>tabular</td>
          <td>information</td>
          <td>text</td>
          <td>Actions</td>
        </tr>
        <!--Table footer-->
        </tbody>
        <!--Подвал таблицы-->
        <tfoot>
        <tr>
          <td>
            <div class="d-grid gap-2">
              <!-- Example single danger button -->
              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">10</a></li>
                  <li><a class="dropdown-item" href="#">50</a></li>
                  <li><a class="dropdown-item" href="#">100</a></li>
                  <li><a class="dropdown-item" href="#">500</a></li>
                  <li>
                    <button class="dropdown-item" href="#" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Show modal
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
            <!--            <li class="nav-item dropdown" ngbDropdown>
                          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                            Link
                          </a>
                          <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                            <li ngbDropdownItem><a class="dropdown-item" href="#">Action</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" href="#">Another action</a></li>
                            <li ngbDropdownItem><hr class="dropdown-divider"></li>
                            <li ngbDropdownItem><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li>-->

          </td>
        </tr>
        </tfoot>
      </table>
      <!--Панель пагинации-->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item"><a class="page-link" href="#">7</a></li>
          <li class="page-item"><a class="page-link" href="#">8</a></li>
          <li class="page-item"><a class="page-link" href="#">9</a></li>
          <li class="page-item"><a class="page-link" href="#">10</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>

    <div>
      <h3> Контент</h3>
      <app-table-tree>Loading</app-table-tree>
    </div>

  </div>

</main>
